 * {
     margin: 0;
     padding: 0;
     font-family: 'Montserrat', sans-serif;
 }

 .first-section {

     background: url(img/donation1.png);
     background-repeat: no-repeat;
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-color: rgba(0, 0, 0, 0.185)
 }

 .heading-content {
     color: white;
     text-align: center;
     padding-top: 20%;



 }

 .heading-content h1 {
     font-size: 40px;
     font-weight: 600;
     margin-bottom: 20px;
 }

 .heading-content p {
     font-weight: lighter;
     font-family: poppins;
     margin-bottom: 20px;

 }

 #btn {
     text-decoration: none;
     color: white;
 }

 .button {
     padding: 15px 10px;
     background: #FF5959;
     border: 5px solid #FF5959;
     border-radius: 5px;

 }

 .donate-now {
     margin-top: 80px;
     margin-bottom: 100px;
 }

 .donate-now-content {
     text-align: center;
 }

 .donate-now-content p {
     color: #707070;
     margin-top: 30px;
 }

 .donate-boxes {
     margin-top: 80px;
     margin-bottom: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .donate-box {

     width: 130px;
     height: 120px;
     border: 3px solid #e9e9e9;
     border-radius: 5px;
     background-color: #e9e9e9;
     margin: 10px 20px;

 }

 .donate-box h2 {
     text-align: center;
     margin-top: 45px;
     color: #494949;
 }

 #selected-box {
     border: 3px solid #FF5959;
     border-radius: 5px;
     background-color: #FFEEEE;


 }

 #selected-box h2 {
     color: #FF5959;
 }

 .input-amount {
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 10px;

 }

 input {
     border: none;
     outline: none;
 }

 .line {
     width: 200px;
     height: 1px;
     background-color: gray;
     margin-left: 42%;
     margin-bottom: 50px;
 }

 #btn2 {
     text-decoration: none;
     color: white;
     padding: 15px 10px;
     background: #FF5959;
     border: 5px solid #FF5959;
     border-radius: 5px;
     margin-left: 45%;
 }

 .donate-plan {
     text-align: center;

 }

 .donate-plan h1 {
     font-size: 40px;
     font-weight: 600;
 }

 .donate-plan p {

     font-weight: lighter;
     margin-bottom: 20px;
     padding: 1% 5%;
 }

 .plan-boxes {

     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 50px;


 }

 .plan-box {
     width: 360px;
     height: 180px;
     background-color: #FF5959;
     padding: 5% 2%;
     margin: 1% 5%;
     border-radius: 5px;
 }

 .plan-box h3 {
     font-weight: 500;
     padding: 3% 0;
 }

 .plan-box p {
     font-weight: lighter;
     color: #494949;
     font-size: 14px;
     margin-top: 20px;
 }

 #box-1 {
     background-color: #4f9da642;
 }

 #box-2 {
     background-color: #ff59595b;
 }

 #box-3 {
     background-color: #fff4d69c;
 }

 .half-width-section {
     display: flex;
     margin-bottom: 15%;
 }

 .half-width {
     width: 50%;
     padding-left: 5%;
     text-align: left;
 }

 .half-width h1 {
     padding-bottom: 15px;
 }

 .half-width p {
     padding-bottom: 20px;
 }

 .text-part {
     margin-top: 15%;
 }

 #right-part {
     text-align: left;
     padding-right: 5%;
 }

 #btn3 {
     text-decoration: none;
     color: white;
     padding: 15px 10px;
     background: #FF5959;
     border: 5px solid #FF5959;
     border-radius: 5px;

 }